*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Noto Sans', sans-serif;
}

.contact-section{
  height: 35vh;
  background-color: #FFFAF3;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-section h3{
  font-size: 2rem;
  font-weight: 600;
}
.contact-section h2{
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 1rem;
}
.contact-section button{
   color:white;
    font-size: 1rem;
    font-weight: 600;
    background-color:#C56A32;
    padding: 6px 15px;
    width: 150px;;
    border-radius: 10px;
    border: none;
    margin-top: 1rem;
}