*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}


.hero-section-background{
  position: relative;
  height: 80vh;
  width: 100%;
  background-image: url(images/maasai.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}


.hero-section-background h3{
  font-size: 3rem;
  color: white;
  margin-top: 5rem;
}
.hero-section-background h2{
  font-size: 1rem;
  font-weight: 500;
  color: white;
  margin-top: 1rem;
}
.hero-buttons{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 1rem;
}
.hero-buttons button{
  padding: 10px 50px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
}

.btn1:hover{
background-color: #37a37c !important;
}

/*
.hero-dots {
  position: absolute;
  bottom: 30px;
  display: flex;
  gap: 8px;
}

.hero-dots .dot {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.hero-dots .dot.active {
  background-color: #3eb489;
  transform: scale(1.2);
}
*/

 .hero-dots {
      position: absolute;
      bottom: 2rem;
      display: flex;
      gap: 12px;
    }

    .dot {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.5);
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .dot:hover {
      background-color: rgba(255, 255, 255, 0.8);
    }

    .dot.active {
      background-color: #ffa500;
      transform: scale(1.2);
    }
