*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

.market-section{
  height: 100vh;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
   background-image: url(https://www.visitmorocco.com/sites/all/themes/custom/onmt_theme/images/IP_pattern.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.market-section h3{
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
.market-container{
  margin-top: 7rem;
  display: flex;
  flex-direction: row;
  padding-left: 15rem;
  padding-right: 15rem;
  gap: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.market1{
 width: 100%;
 max-width: 430px;
 border: 0.5px solid #C56A32;
 height: 700px;
 display: flex;
 flex-direction: column;
}

.market1-a{
  width: 100%;
 border-bottom: 0.5px solid #C56A32;
 height: 430px;
 display: flex;
 align-items: center;
 justify-content: center;
}
.market1-a img{
  height: 300px;
  width: 300px;
}
.market1-b{
  width: 100%;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.market1-b .paragraph3{
  font-size: 1.5rem;
  
}
.market1-b .paragraph4{
  font-size: 1rem;
  margin-top: 1rem;
  
}



.market2{
 width: 100%;
 max-width: 430px;
 border: 0.5px solid #C56A32;
 height: 700px;
 display: flex;
 flex-direction: column;
}

.market2-a{
  width: 100%;
 border-bottom: 0.5px solid #C56A32;
 height: 430px;
 display: flex;
 align-items: center;
 justify-content: center;
}
.market2-a img{
  height: 300px;
  width: 300px;
}
.market2-b{
  width: 100%;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.market2-b .paragraph5{
  font-size: 1.5rem;
  
}
.market2-b .paragraph6{
  font-size: 1rem;
  margin-top: 1rem;
  
}


.market3{
 width: 100%;
 max-width: 430px;
 border: 0.5px solid #C56A32;
 height: 700px;
 display: flex;
 flex-direction: column;
}

.market3-a{
  width: 100%;
 border-bottom: 0.5px solid #C56A32;
 height: 430px;
  display: flex;
 align-items: center;
 justify-content: center;
}
.market3-a img{
  height: 300px;
  width: 300px;
}

.market3-b{
  width: 100%;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.market3-b .paragraph7{
  font-size: 1.5rem;
  
}
.market3-b .paragraph8{
  font-size: 1rem;
  margin-top: 1rem;
  
}
.explore-marketplace{
  padding-top: 3rem;
}
.explore-marketplace button{
  color: white;
  font-size: 1rem;
  font-weight: 600;
  background-color: #C56A32;
  padding: 8px 15px;
  border-radius: 10px;
  border: none;
}
