*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

.questions-section{
  height: 100vh;
  padding-top: 2rem;
}
.questions-section h3{
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}
.Frequently-container{
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  position: relative;
  height: 90%;
}
.Frequently-container img{
  position: absolute;
  z-index: -1000;
  bottom: 10%;
  right: 5%;
 
}
.Frequently1{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 3rem;
  padding-right: 3rem;
  width: 100%;
  max-width: 1000px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.question1{
  font-size: 1.3rem;
  font-weight: 600;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  border: 2px solid #e3e3e3;
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  transition: 0.3s ease;
}
.question1:hover{
  border-color: #3eb489;
  background-color: rgba(62, 180, 137, 0.05);
}
.question1-a{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 1rem;
 
}
.answer1, .answer2, .answer3, .answer4, .answer5, .answer6{
 color: #1E1E1E;
 display: none;
 font-weight: 400;
}
.question1 i{
  color: #3eb489;
}
.Frequently2{
  width: 100%;
  max-width: 900px;
 
  overflow: hidden;
 
}
.Frequently2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icons-active{
transform: rotate(-180deg);
transition: transform 0.3s ease;
}