*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}


/*
.tribes-section h3{
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.tribes-section h2{
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  color: #1E1E1E;
  margin-top: 1rem;
}
/*
.slider-container{
  display: flex;
  flex-direction: row;
}

.slide-images{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  gap: 20px;
  background-color: yellow;
  align-items: center;
  justify-content: center;
}

.slide-images img{
  width: 400px;
  height: 400px;
}
  */

/*
  .slider-container{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin-top: 2rem;
      padding: 0 2rem;
     
      
    }

    .slider-container i{
      font-size: 2rem;
      cursor: pointer;
      color: #1E1E1E;
      padding: 1rem;
      transition: color 0.3s ease;
    }

    .slider-container i:hover{
      color: #666;
    }

    .slide-images{
      display: flex;
      flex-direction: row;
      overflow: hidden;
      gap: 50px;
      align-items: center;
      justify-content: center;
    }

    .slide-images img{
      width: 400px;
      height: 400px;
      object-fit: cover;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .slides-button{
      padding-top: 3rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .slides-button button{
    color: black;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    padding: 6px 15px;
    border-radius: 10px;
    border: 2px solid #C56A32;
    border-color: #C56A32;
    }

    */
    .tribes-section2{
      display: none;
    }

  .tribes-section{
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
  padding-left: 3rem;
  padding-right: 3rem;
  gap: 20px;
  background-color: black;
}
.tribes1, .tribes2, .tribes3, .tribes4, .tribes5, .tribes6, .tribes7{
width: 100%;
max-width: 300px;
background-color: white;
display: flex;
flex-direction: column;
gap: 10px;
background-color: black;
}

.tribes1-a{
  height: 500px;
  overflow: hidden;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.tribes1-a img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tribes1-b{
  height: 500px;
  overflow: hidden;
  border-radius: 20px;
}
.tribes1-b img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tribes1-c{
  height: 500px;
  overflow: hidden;
  border-radius: 20px;
}
.tribes1-c img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tribes2-a{
  height: 300px;
  overflow: hidden;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.tribes2-a img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tribes2-b{
  height: 500px;
  overflow: hidden;
  border-radius: 20px;
}
.tribes2-b img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tribes2-c{
  height: 500px;
  overflow: hidden;
  border-radius: 20px;
}
.tribes2-c img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tribes2-d{
  height: 200px;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.tribes2-d img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tribes3-a{
  height: 200px;
  overflow: hidden;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.tribes3-a img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tribes3-b{
  height: 500px;
  overflow: hidden;
  border-radius: 20px;
}
.tribes3-b img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tribes3-c{
  height: 500px;
  overflow: hidden;
  border-radius: 20px;
}
.tribes3-c img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tribes3-d{
  height: 300px;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.tribes3-d img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tribes4-a{
  height: 500px;
  overflow: hidden;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.tribes4-a img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tribes4-b{
  height: 500px;
  overflow: hidden;
  border-radius: 20px;
}
.tribes4-b img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tribes4-c{
  height: 500px;
  overflow: hidden;
  border-radius: 20px;
}
.tribes4-c img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

}
.overlay h3{
  font-size: 4rem;
  color: white;
  text-align: center;
}
.overlay h2{
  color: white;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}
.overlay button{
  width: 200px;
  height: 50px;
  border-radius: 15px;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: white;
  
 
}


